{% extends "base.html" %}
{% block title %}{{ label }}{% endblock %}
{% block body %}
{% include "navbar.html" %}
{% from '_macros.html' import render_field, render_checkbox_field %}
{% from '_upload_image.html' import upload_image %}

<div class="container-fluid">
  <form id="product" class="form" action="" method="POST" enctype="multipart/form-data">
    <div class="panel panel-{{ color }}">
      <div class="panel-heading lead">
        <i class="fa fa-building"></i> {{ label }}
      </div>

      <div class="panel-body">
        <div class="container-fluid">
          {{ form.csrf_token }}
          <div class="row">
            <div class="col-md-2">
              <div class="row">
                {{ upload_image(input_field=form.image_file, file_path=form.image) }}
              </div>
            </div>

            <div class="col-md-10">
              <div class="row">
                {{ render_field(form.provider_id, class_='col-md-5', placeholder='Fornecedor', required=True, autofocus=True) }}
                {{ render_field(form.description, class_='col-md-7', placeholder='Descrição', required=True) }}
              </div>
              <div class="row">
                {{ render_field(form.value, class_='col-md-4', class="money-mask", placeholder='Valor', required=True) }}
                {{ render_field(form.quantity, class_='col-md-4', placeholder='Quantidade', required=True) }}
                {{ render_field(form.unit, class_='col-md-4', placeholder='UN', required=True) }}
              </div>
              <div class="row">
                {{ render_field(form.manufactured, class_='col-md-6', class="date-mask", placeholder='Fabricação', required=True) }}
                {{ render_field(form.validity, class_='col-md-6', class="date-mask", placeholder='Validade', required=True) }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <button id="{{ form.submit_product.id }}" class="btn btn-{{ color }}" type="submit" name="{{ form.submit_product.name }}">
          <i class="fa fa-save"></i> {{ form.submit_product.label.text }}
        </button>
        <a href="{{ url_for('admin.products') }}" class="btn btn-default" name="back" type="button"><i class="fa fa-ban"></i> Cancelar</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
