{% from '_macros.html' import render_pagination %}
{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container-fluid col-md-12 pull-center">
  <div class="panel panel-primary">
    <div class="panel-heading lead">
      <i class="fa fa-cubes"></i> Gerenciar Produtos
    </div>

    <div class="list-group">
      <div class="list-group-item">
        <form class="form-inline clearfix">
          <div class="input-group col-md-3">
            <input id="search" name="search" class="form-control" type="text" placeholder="Buscar produtos..." value="{% if search %} {{ search }} {% endif %}">
            <span class="input-group-btn">
              <a class="btn btn-info search">
                <i class="fa fa-search"></i>
              </a>
              <a class="btn btn-primary clean-search hide">
                <i class="fa fa-times"></i>
              </a>
            </span>
          </div>
          <div class="form-group pull-right">
            <a class="btn btn-success" href="{{ url_for('controller.add_product') }}">
              <i class="fa fa-plus"></i> Adicionar Produto
            </a>
          </div>
        </form>
      </div>
    </div>

    <div id="grid">
      <div id="data">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">

              <thead>
                <tr>
                  <th class="col-md-3">Descrição</th>
                  <th class="col-md-2">Unidade de Medida</th>
                  <th class="col-md-2">Valor</th>
                  <th class="col-md-2">Quantidade</th>
                  <th>Ações</th>
                </tr>
              </thead>

              <tbody>
                {% for p in products %}
                <tr>
                  <td>{{ p.description }}</td>
                  <td>{{ p.unit }}</td>
                  <td>{{ p.value  }}</td>
                  <td>{{ p.qntd  }}</td>
                  <td>
                    <a class="btn btn-warning" href="{{ url_for('controller.edit_product', id=p.id) }}">
                      <i class="fa fa-pencil"></i> Alterar
                    </a>
                    <a class="btn btn-danger delete" data-action="{{ url_for('controller.delete_product', id=p.id) }}">
                      <i class="fa fa-trash"></i> Excluir
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>

        <div class="panel-footer text-center">
          {% if search %}
            {{ render_pagination(pagination, 'controller.products', search=search) }}
          {% else %}
            {{ render_pagination(pagination, 'controller.products') }}
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
{% include "modal.html" %}
{% endblock %}
