<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} - App</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')  }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.bootstrap3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="container">
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <i class="fa fa-lg fa-warning"></i> <span class="text-primary">{{ message }}</span>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    <!-- Libraries -->
    <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/selectize.all.min.js') }}"></script>

    <!-- Application -->
    <script src="{{ url_for('static', filename='js/app/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app/services.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app/helpers.validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app/validators.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app/main.js') }}"></script>
  </body>
</html>
