{% extends "base.html" %}
{% block title %}GroceryApp{% endblock %}
{% block body %}
  {% include "navbar.html" %}
  <div class="container">
    <div class="row text-center">
      {% for product in products %}
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="panel panel-default">
          {% if product.image %}
            <img class="img-rounded img-responsive img-preview pull-center" src="{{ product.image }}" alt="{{ product.description }}">
          {% else %}
            <img class="img-rounded img-responsive pull-center" src="{{ url_for('static', filename='img/no-img.png') }}" alt="{{ product.description }}">
          {% endif %}

          <div class="panel-body">
            <span>{{ product.description }}</span>
          </div>

          <div class="panel-footer">
            <h5>{{ format_price(product.value) }}</h5>
            <a class="btn btn-block btn-success" href="">
              Ver Detalhes
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
</div>
